.comment-add {
    columns: 1;
    background-color: rgb(230, 233, 235);
    // align-content: center;
    // justify-content: center;
    margin: 50px;
    margin-bottom:0 ;
    padding: 10px;

    input,
    button {

        display: flex;
        margin: 10px;
    }

   

    input {
        height: 35px;
        width: 300px;
        border: 2px solid rgb(233, 227, 227);

        padding: 7px;
        border: 1px solid rgb(176, 168, 168);
        color: rgb(186, 182, 178);
    }

    button{
        justify-content: center;
        border-radius: 3px;
        border: none;
        padding: 7px;
        width: 60px;
        font-size: 10px;
        color: aliceblue;
        background-color: rgb(95, 155, 246);
    }

}