.product-filter{
    background-color: white;
    margin-inline: 50px;
    padding: 10px;
  

    input{
        height: 35px;
        width: 300px;
          margin-top: 10px;
        border: 2px solid rgb(233, 227, 227);
        margin-left:10px ;
    }

}